body {
  /* Typography Declarations */

  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead {
  padding: 6em 0;
  background-image: url('https://download.unsplash.com/45/HWijjF7RwOPGEJ1nb4Zb_IMG_3773.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.masthead-intro {
  text-align: center;
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  text-align: center;
  margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.content-footer {
  text-align: center;
}

.introduction-section,
.questions-section,
.content-footer {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.introduction-section > p,
.content-footer > p {
  /* Typography Declarations */

  font-weight: 300;
  letter-spacing: 0.05em;
}

.questions-section > h2 {
  /* Typography Declarations */

  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
}

.content-footer .icons > li {
  padding: 0.5em 1.6em;
  display: inline-block;
}